h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: green;
    background-color: black;
}
h2{
    font-family: Italico ,Comic Sans;
    color: purple
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
/*comentario*/